

h3 {
    text-align: center;
    color: #156064;
    font-family: 'Inter';
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
}


h4 {
    text-align: center;
    color: rgba(21, 96, 100, 0.70);
    text-align: center;
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h5 {
    text-align: left;
    color: #156064;
    font-family: 'Inter';
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: -10px;
}


h6 {
    text-align: left;
    color: rgba(0, 0, 0, 0.70);
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.FeatureBox {
    display: flex;
    justify-content:space-between;
    flex-direction:row;
    padding: 40px;
    height:300px;
}

.FeatureBox_txt {
    display: flex;
    flex-direction:column;
    width: 250px;
    vertical-align: middle;
}


.FeatureBox_img {
    display: flex;
    height: 100%;
}