footer a {
    text-decoration: none;
    color: #DEE9E9;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 70;
    line-height: normal;
}

footer {
    background-color: #156064;
    display:flex;
    justify-content: space-around;
    padding-top:20px;
    padding-bottom: 60px;
    border-top: 1px solid #FFFFFF ;
    padding-left: 50px;
}