
header {
    display: flex;
    background-color: #bcd8db;
    align-items: center;
    justify-content:space-between;
    height: 40px;
    padding: 0 20px;
}

h1 {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    padding: 3px;
    font-family: 'OCR A Std', monospace;
}

.menu{
    display: flex;
    align-items: center;
    justify-content:space-between; 
    gap: 12 px;
}

.menu a {
    text-decoration: none;
    color: #040404;
    font-size: 12px;
    padding: 12px;
    font-family: 'OCR A Std', monospace;
}

button {
    background-color: #00C49A;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}