
header {
    display: flex;
    background-color: rgba(21, 96, 100, 0.14);
    align-items: center;
    justify-content:space-between;
    height: 70px;
    flex-shrink: 0;
    padding: 0 20px;
}

.logo {
    display: flex;
    height: 100%;
    align-items: center;
}

.logo img{
    display: flex;
    height: 40%;
}

h1 {
    text-decoration: none;
    color: #156064;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.logo p {
    color: rgba(0, 0, 0, 0.90);
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.menu{
    display: flex;
    align-items: center;
    justify-content:space-between; 
}

.menu a {
    text-decoration: none;
    display: flex;
    width: 120px;
    height: 37.122px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: rgba(0, 0, 0, 0.80);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

button {
    display: flex;
    width: 120px;
    height: 40px;
    padding: 16px 25px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    border-radius: 15px;
    background: #00C49A;
}