.get-started-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}

header {
    display: flex;
    background-color: #c8ebd5;
    padding: 1em 13em;
    align-items: center;
    justify-content:space-evenly;
}

.menu{
    display: flex;
    align-items: center;
    justify-content:space-evenly; 
}

main {
    display: flex;
    justify-content:space-evenly;
    background-color: #045635da;
    flex-wrap: wrap;
    padding: 10px;
    flex-direction: row;
    flex-basis: 0;
    flex: 1 1 0px;
}


h2 {
    text-decoration: none;
    color: #fcfcfb;
    font-size: 18px;
    padding: 3px;
    font-family: 'OCR A Std', monospace;
}


main a {
    text-decoration: none;
    color: #fcfcfc;
    font-size: 14px;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    font-family: 'OCR A Std', monospace;
}

.container {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    background-color: #080808da;
    padding: 20px 0px 20px 100px;
    align-items: center;
}

footer {
    background-color:#1f6808da;
    color: #fff;
    font-family: 'Roboto', arial;
}